@import '../employee-management/employee-management.component.css';

.badge-wood {
    background: #713600;
    color: white;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 700;
}